 /* RESPONSIVE CSS
    -------------------------------------------------- */
    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

  	  body {
  	  }
	
      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
	  
	  #footer {
	    margin-left: -20px;
        margin-right: -20px;
	  }
	  
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
        margin-left: 15%;
	 	    margin-right: 15%;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 50px;
      }
      .carousel-caption h2 {
        font-size: 1.2em;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 1em;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

      .apuntar {
        padding-top:20px;
      }

    }