/************GENERAL**************/
html,body{height:100%;}
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,600,400italic,700,600italic,700italic,900,900italic);
body{font-family: 'Source Sans Pro', sans-serif!important;}
input:focus, textarea:focus{
	outline:0px;}
/************MENU PRINCIPAL**************/
.navbar-principal { position: fixed!important; right: 0; left: 0; z-index: 1030; height: 70px!important; padding-top: 5px; background-color: #1B3760; top: 0!important; border-width: 0 0 0px!important;}
.mobile-menu{display: none;}
img#logo-pc { position: absolute; margin-top: 17px; left: 50%; margin-left: -570px; width: 166px; }
#txtcredito a { color: #004b93;font-size: 14px; }
section.color-7 nav a { font-size: 15px!important; font-weight: 300!important; }
nav.cl-effect-21 {     margin-top: -2px;position: absolute; left: 50%; margin-left: -308px; font-size: 15px; font-weight: 300;}
div#menu2 { margin-top: 19px; position: absolute; left: 50%; margin-left: 216px; font-size: 15px!important; font-weight: 300!important; }
#ul2 { padding-right: 0px 0px 0px 0px; margin: 0px; }
#ul2 li { list-style-type: none; display: inline; padding-right: 21px; margin-right: 38px; }
li#liidioma a { color: white!important; }
span.glyphicon.glyphicon-menu-down { margin-left: 12px; }
li#licreditos a { color: #FFDE80!important; }
li#liapuntate a { color: #6FBCC5!important; }
li#lilogin a { color: #AC97DD!important; }
@media screen and (min-width: 769px) and (max-width: 991px){
	.color-7{display: none;}
	.mobile-menu{display: block;}
	img#logo-pc { position: absolute; margin-top: 18px; left: 50%; margin-left: -359px; width: 161px; }
	div#menu2 { margin-top: 19px;  position: absolute; left: 50%; margin-left: -188px; font-size: 17px!important; font-weight: 300!important; }
	#ul2 { padding-right: 0px 0px 0px 0px; margin: 0px; }
	#ul2 li { list-style-type: none; display: inline; padding-right: 0px; margin-right: 47px; }
	li#liidioma a { color: white!important; }
	span.glyphicon.glyphicon-menu-down { margin-left: 37px; }
	li#licreditos a { color: #FFDE80!important; }
	li#liapuntate a { color: #6FBCC5!important; }
	li#lilogin a { color: #AC97DD!important; }

	/*span lineas-equis*/
	.btn-menu { width: 40px; height: 66px; display: block; cursor: pointer; position: absolute; left: 50%; right: 0; top: 0;  bottom: 0; margin-left: 320px; margin-top: -9px; }
    .btn-menu span { position: absolute; top: 43px; left: -5px; background-color: white; transform:rotate(0deg); -ms-transform:rotate(0deg); -webkit-transform:rotate(0deg); }
	.btn-menu span:before { position: absolute; top: -9px; left: 0px; content: ' '; background-color: white; }
	.btn-menu span:after { position: absolute; top: 9px; left: 0; content: ' '; background-color: white; }
	.close span { margin-top:-5; position: absolute; left: 5px; background: none; }
	.close span:after { position: absolute; top: 0px; background-color: white; transform:rotate(45deg); -ms-transform:rotate(45deg); -webkit-transform:rotate(45deg); }
	.close span:before { display: block; position: absolute; background-color: white; top: 0px; transform:rotate(-45deg); -ms-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); }
	.btn-menu span,.btn-menu span:before,.btn-menu span:after,.close span,.close span:before,.close span:after { width: 37px; height: 5px; border-radius: 25px; transition: all .5s cubic-bezier(0.9,0.9,0.9,1); }

}
@media screen and (min-width: 992px) and (max-width: 1279px){
	.color-7{display: none;}
	.mobile-menu{display: block;}
	img#logo-pc { position: absolute; margin-top: 18px; left: 50%; margin-left: -470px; width: 161px; }
	div#menu2 { margin-top: 19px;  position: absolute; left: 50%; margin-left: -267px; font-size: 17px!important; font-weight: 300!important; }
	#ul2 { padding-right: 0px 0px 0px 0px; margin: 0px; }
	#ul2 li { list-style-type: none; display: inline; padding-right: 40px; margin-right: 47px; }
	li#liidioma a { color: white!important; }
	span.glyphicon.glyphicon-menu-down { margin-left: 37px; }
	li#licreditos a { color: #FFDE80!important; }
	li#liapuntate a { color: #6FBCC5!important; }
	li#lilogin a { color: #AC97DD!important; }

	/*span lineas-equis*/
	.btn-menu { width: 40px; height: 66px; display: block; cursor: pointer; position: absolute; left: 50%; right: 0; top: 0;  bottom: 0; margin-left: 425px; margin-top: -3px; }
    .btn-menu span { position: absolute; top: 43px; left: -5px; background-color: white; transform:rotate(0deg); -ms-transform:rotate(0deg); -webkit-transform:rotate(0deg); }
	.btn-menu span:before { position: absolute; top: -9px; left: 0px; content: ' '; background-color: white; }
	.btn-menu span:after { position: absolute; top: 9px; left: 0; content: ' '; background-color: white; }
	.close span { margin-top:-5; position: absolute; left: 5px; background: none; }
	.close span:after { position: absolute; top: 0px; background-color: white; transform:rotate(45deg); -ms-transform:rotate(45deg); -webkit-transform:rotate(45deg); }
	.close span:before { display: block; position: absolute; background-color: white; top: 0px; transform:rotate(-45deg); -ms-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); }
	.btn-menu span,.btn-menu span:before,.btn-menu span:after,.close span,.close span:before,.close span:after { width: 37px; height: 5px; border-radius: 25px; transition: all .5s cubic-bezier(0.9,0.9,0.9,1); }

}

/************ IDIOMA **************/
#languajes { position:fixed!important; background-color: #213C6D;left: 50%; margin-left: 242px; padding-left: 11px; width: 118px; margin-top: 70px; color: white; height: 140px; z-index: 999; margin-top: -235px; transition: margin-top .5s; }
#otrosidiomas li { list-style: none; height: 35px; margin-left: -55px; padding: 9px 2px 2px 17px; background-color: #213C6D; width: 122px; }
#otrosidiomas li:hover { cursor:pointer; list-style: none; height: 35px; margin-left: -55px; padding: 9px 2px 2px 17px; background-color: #193256!important; width: 118px; }

@media screen and (min-width: 992px) and (max-width: 1279px){
	#languajes { position:fixed!important; background-color: #213C6D;left: 50%; margin-left: -240px; padding-left: 11px; width: 118px; margin-top: 70px; color: white; height: 140px; z-index: 999; margin-top: -235px; transition: margin-top .5s; }
	#otrosidiomas li { list-style: none; height: 35px; margin-left: -55px; padding: 9px 2px 2px 17px; background-color: #213C6D; width: 122px; }
	#otrosidiomas li:hover { cursor:pointer; list-style: none; height: 35px; margin-left: -55px; padding: 9px 2px 2px 17px; background-color: #193256!important; width: 118px; }

}


/************ APUNTARSE **************/
#apuntarse select { background:#57AEB2 ; border: 0px; width: 320px; height: 40px; outline: none; margin: 0; padding: 0; -moz-appearance:none; border-radius: 0; color:white; font-size:15px; cursor: pointer; }
#apuntarse select:focus, select:active, select:hover { outline: none; border: none; }
#apuntarse select:-moz-focusring { color: transparent; }
#apuntarse option { margin: 0; padding: 4px; background: #57AEB2; }
#apuntarse optgroup{background-color:#57AEB2;}
#apuntarse select:hover + span { background: #57AEB2; }
#apuntarse select:hover + span:after { border-top-color: #fff; }
#apuntarse span { position: absolute; /* background: #57AEB2; */ top: 27px; right: 0; /* height: 40px; */ /* width: 40px; */ /* pointer-events: none; */ transition: background .9s; /* left: 50%; */ margin-left: -396px;}
#apuntarse span:after { content: ""; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #6FBCC5; top: 16px; left: 12px; position: absolute;	transition: all .5s ease-in-out; }
/*datapicker*/
::-webkit-input-placeholder { color: white; }
:-moz-placeholder { /* Firefox 18- */ color: white; }
::-moz-placeholder {  /* Firefox 19+ */ color: white; }
:-ms-input-placeholder { color: white; }
input#datepicker { height: 35px; width: 190px; background-color: #57AEB2; border: 0; border-radius: 5px; color: white; font-size: 15px; padding-top: 2px; padding-left: 10px; margin-top: 6px; position: absolute; }
div#ui-datepicker-div { width: 259px; }
div#ui-datepicker-div { margin-top: 22px; }
select#espacio { width: 190px; height: 35px; margin-left: 232px; position: absolute; margin-top: 6px; }
select#nivel { width: 190px; height: 35px; margin-left: 465px; position: absolute; margin-top: 6px; }
input#codigopromo { width: 190px!important; height: 35px!important; border: 0px; border-radius: 5px; font-size: 15px!important; background-color: #57AEB2!important; color: white; position: absolute; margin-top: 6px; margin-left: 136px!important; padding-left: 10px; }
input#boton-apuntarme { background-color: transparent; color: #004C94; border: 2px solid #004C94; width: 190px; height: 35px; border-radius: 5px; position: absolute; font-size: 14px; margin-left: 371px!important; margin-top: 6px; cursor: pointer; }
input#boton-apuntarme:hover { background-color: #004C94; color: white; border: 2px solid white; }



/************ CREDITOS **************/
.navbar-credito{ position: fixed!important; right: 0; left: 0; z-index: 1029; height: 70px!important; padding-top: 10px; background-color: #F4DA75;}
#navbar-credito{ margin-top: -235px; transition: margin-top .5s; }
div#txtcred { position: absolute; color: white; background-color: #E8BF15; left: 50%; margin-top: 16px; height: 35px; padding-top: 9px; padding-left: 11px; padding-right: 10px; margin-left: 196px; }
div#txtcredito { position: absolute; color: #004b93; text-align: left; margin-top: 13px; font-size: 15px;}
div#menuapunta { margin-top: 19px; position: absolute; left: 50%; margin-left: 234px; }
.numbers-row { margin-top: -10px; }
.inc { background-color: #DBB100; color: #004C94; cursor: pointer; width: 20px; height: 17px; border-radius: 0px; /* float: right; */ text-align: center; font-size: 16px; margin-right: 50px; margin-top: 16px; left: 50%; position: absolute; margin-left: 278px; }
.dec { background-color: #DBB100; color: #004C94; cursor: pointer; width: 20px; height: 17px; border-radius: 0px; float: right; margin-top: 34px; left: 50%; margin-right: -20px; text-align: center; font-size: 14px; margin-left: 278px; position: absolute; left: 50%; font-size: 15px;}
input#creditos { background-color: #DBB100; border: 0px; width: 38px; border-radius: 0px; color: #004C94; font-size: 13px; height: 35px; text-align: right; position: absolute; margin-left: 239px; left: 50%; padding-right: 9px; margin-top: 16px;}
.buttons { padding: 20px 0 0 140px; }
input#submit-credito { background-color: transparent; color: #004b93; border: 2px solid #004b93; width: 190px; height: 35px; border-radius: 25px; position: absolute; left: 50%; top: 50%; margin-top: -19px; font-size: 14px; margin-left: 356px; cursor: pointer; }
input#submit-credito:hover { background-color: #004b93; color:white ; border: 2px solid white;}


@media screen and (min-width: 992px) and (max-width: 1279px){
	div#txtcredito { position: absolute; color: #213C6D; left: 50%; text-align: left; margin-left: -468px; margin-top: 6px; }
	.numbers-row { margin-top: -10px; margin-left: -130px; }
	.inc { background-color: #193256; color: #FFDE80; cursor: pointer; width: 20px; height: 20px; border-radius: 25px; float: right; text-align: center; font-size: 16px; margin-right: 93px; margin-top: -9px; margin-left: -31px; }
	.dec { background-color: #193256; color: #FFDE80; cursor: pointer; width: 20px; height: 20px; border-radius: 25px; float: right; margin-top: 19px; left: 50%; margin-right: 11px; text-align: center; font-size: 14px; /* margin-left: 0px; */ }
	input#creditos { background-color: transparent; border: 2px solid #193256; width: 58px; border-radius: 25px; color: #193256; height: 30px; text-align: right; margin-left: 70px; padding-right: 9px; }
	input#submit { color: #FFDE80; background-color: #193256; border: 0px; cursor: pointer; position: absolute; margin-top: -50px; left: 50%; margin-left: 2px; width: 161px; height: 30px; border-radius: 25px; cursor: pointer; }
}

/************ LOGIN CENTRAL**********/
.tabs { position: relative; min-height: 350px; clear: both; margin: 25px 0; }
.tab { float: left; }
.tab label { background: #D9D9D9!important; padding: 10px; border: 1px solid #ECECEC; margin-left: -1px; position: relative; left: 1px; width: 147px; color: #585857; height: 48px;     margin-top: -11px;}
/*oculto los inputs para que solo se vean las etiquetas o label*/
.tab input[type=radio] { display: none; }
.content { position: absolute; top: 28px; left: 0; background: #ECECEC!important; right: 0; bottom: 0; padding: 20px; border: 1px solid #ccc; overflow: hidden; text-align: justify; }
.content > * { display:none; }
.tab input[type=radio]:checked ~ label { background: #ECECEC!important; border-bottom: 1px solid #ECECEC; z-index: 2; width: 148px; color: #585857; height: 48px; margin-top: -11px;}
.tab input[type=radio]:checked ~ label ~ .content { z-index: 1; }
.tab input[type=radio]:checked ~ label ~ .content > * { display: block; }
div#logyreg {
    position: absolute;
    top: 50%;
    margin-top: -180px;
    left: 50%;
    margin-left: 221px;
    width: 323px;
    height: 390px;
}
input[type="text"] {
    position: absolute;
    left: 50%;
    margin-top: 8px;
    width: 80%;
    margin-left: -116px;
    height: 35px;
    font-size: 20px;
    color: #9C9B9B;
    border: 0px;
}
input[type="password"] {
    position: absolute;
    left: 50%;
    margin-top: 30px;
    width: 80%;
    margin-left: -116px;
    height: 35px;
    font-size: 20px;
    color: #9C9B9B;
    border: 0px;
}
input[type="checkbox"] {
    position: absolute;
    left: 50%;
    margin-left: -115px;
    margin-top: 53px;
}
input[type="submit"] {
    position: absolute;
    left: 50%;
    margin-left: -115px;
    margin-top: 75px;
    width: 80%;
    color: #004C94;
    border: 2px solid #004C94;
    height: 35px;
    background-color: transparent;
    border-radius: 25px;
}
input[type="submit"]:hover {
    color: white;
    border: 2px solid #004C94;
    background-color: #004C94;

}
form#form-pestaña-log a {
    position: absolute;
    margin-top: 101px;
    left: 50%;
    margin-left: -112px;
}
hr {
    margin-top: 111px;
    color: black;
    border-top: 1px solid black!important;
}
div#face {
    position: absolute;
    color: #004C94;
    border: 2px solid #004C94;
    width: 110px;
    text-align: center;
    height: 35px;
    padding-top: 5px;
    border-radius: 25px;
    cursor: pointer;
}
div#face:hover {
    color: white;
    border: 2px solid #004C94;
    background-color: #004C94;

}
div#gmail {
    position: absolute;
    color: #A21C26;
    border: 2px solid #A21C26;
    width: 110px;
    text-align: center;
    height: 35px;
    padding-top: 5px;
    border-radius: 25px;
    left: 50%;
    margin-left: 9px;
    cursor: pointer;
}
div#gmail:hover {
    color: white;
    border: 2px solid #A21C26;
    background-color: #A21C26;

}
span#recor {
    position: absolute;
    left: 50%;
    margin-left: -98px;
    margin-top: 49px;
}
/*registrar*/
input#email-reg {
    margin-top: 30px!important;
}
input#pass-reg {
    margin-top: 49px!important;
}
input#pass2-reg {
    margin-top: 70px!important;
}
input#checkacep{
    margin-top: 95px!important;
}
span#acept {
    position: absolute;
    width: 202px;
    left: 50%;
    margin-left: -94px;
    margin-top: 91px;
}
input#btnreg {
    margin-top: 130px!important;
}
/************ APUNTA **************/
.navbar-apunta-m{display: none;}
.navbar-apunta{ display:block; position: fixed!important; right: 0; left: 0; z-index: 1029; height: 70px!important; padding-top: 10px; background-color: #6FBCC5;}
#navbar-apunta{ margin-top: -500px; transition: margin-top .5s; }
div#menuapunta{ margin-top: 19px; position: absolute; }

@media screen and (min-width: 1200px) and (max-width: 1279px){
	.navbar-apunta{display: none;}
	.navbar-apunta-m { display: block; position: fixed!important; right: 0; left: 0; z-index: 1029; height: 140px!important; padding-top: 10px; background-color: #6FBCC5; }
	#navbar-apunta-m{ margin-top: -500px; transition: margin-top .5s; }
	}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.navbar-apunta{display: none;}
	.navbar-apunta-m { display: block; position: fixed!important; right: 0; left: 0; z-index: 1029; height: 140px!important; padding-top: 10px; background-color: #6FBCC5; }
	#navbar-apunta-m{ margin-top: -500px; transition: margin-top .5s; }
}

/************PORTADA**************/
#all-principal{height:100%;min-height:100%}
#intro{ height: 100%; position: relative; }
#intro .item { background: url(../img/img_home.png) center center no-repeat; background-size: cover; background-position-y:69px ; height: 100%; moz-background-size: cover; o-background-size: cover; webkit-backface-visibility: hidden; webkit-background-size: cover; }
#intro .item .logo { filter: alpha(opacity=0); margin-bottom: 30px; opacity: 0; webkit-backface-visibility: hidden; }
#intro .container,#intro .row { height: 100%; position: absolute; width: 100%;}
#texto-portada { font-weight: 300; margin-top: -129px; margin-left: -539px; width: 533px; left: 50%; top: 50%; color: white; font-size: 53px; text-align: center; position: absolute; }
div#funcionamiento { text-align: center; font-size: 17px; border: solid 2px white; padding: 4px 0px 9px 0px; width: 165px; height: 35px; margin-left: 87px; margin-top: -18px; border-radius: 25px; cursor: pointer; }
div#funcionamiento:hover { color: white; border: solid 2px transparent; background-color: #59A6AA; }
div#apuntate { text-align: center; font-size: 17px; border: solid 2px white; padding: 4px 0px 9px 0px; width: 165px; margin-left: 292px; height: 35px; margin-top: -35px; border-radius: 25px; cursor: pointer; }
div#apuntate a{ color: white;}
div#apuntate:hover { color: white; border: solid 2px transparent; background-color: #59A6AA; }

@media screen and (min-width: 992px) and (max-width: 1199px){
	#texto-portada{width: 525px;}
}
/************ICONO MOUSE SCROLL**************/
.icon-scroll, .icon-scroll:before { position: absolute; left: 50%; }
.icon-scroll { width: 30px; margin-left: -40px; bottom: 2%; box-shadow: inset 0 0 0 1px #fff; border-radius: 25px; height: 50px; }
.icon-scroll:before { content: ''; width: 8px; height: 8px; background: #fff; margin-left: -4px; top: 0px; border-radius: 4px; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-name: scroll; animation-name: scroll; }
@-webkit-keyframes scroll { 0% { opacity: 1; } 100% { opacity: 0; -webkit-transform: translateY(46px); transform: translateY(46px); } }
@keyframes scroll { 0% { opacity: 1; } 100% { opacity: 0; -webkit-transform: translateY(46px); transform: translateY(46px); } }
@media only screen and (max-device-width: 768px) {
    .icon-scroll { height: 80px; border-radius: 4px; }
    .icon-scroll:after{ content: ''; display: block; width: 7px; height: 7px; margin: 1px auto 0 auto; border: 2px solid #fff; border-radius: 50%; }
    .icon-scroll-screen{ position: relative; width: 34px; height: 56px; margin: 10px auto 0; border: 2px solid #fff; }
    .icon-scroll:before { top: 58px; }
    @-webkit-keyframes scroll { 0% { opacity: 1; } 100% { opacity: 0; -webkit-transform: translateY(-46px); transform: translateY(-46px); } }
    @keyframes scroll { 0% { opacity: 1; } 100% { opacity: 0; -webkit-transform: translateY(-46px); transform: translateY(-46px); } }
}

/************SECCION LETS TALK**************/
#lets-talk { color: #4E3575; height: 180px; text-align: center; margin-top: 68px; font-size: 40px; }

/************SECCION QUE Y COMO ES**************/
div#queycomo { background-color: #ECECEC; }
img#profesional { margin-top: 110px; }
img#flexible { margin-top: 110px; }
img#social { margin-left: 100px; margin-top: 110px; }
div#tituloprofesional { color: #213C6D; margin-top: 30px; font-size: 30px; }
div#txtprofesional { margin-top: 30px; font-size: 14px; padding-bottom: 110px; width: 280px; }
div#tituloflexible { color: #213C6D; margin-top: 30px; font-size: 30px; }
div#txtflexible { margin-top: 30px; font-size: 14px; padding-bottom: 110px; width: 280px; }
div#titulosocial { color: #213C6D; margin-left: 100px; margin-top: 30px; font-size: 30px; }
div#txtsocial { margin-left: 100px; margin-top: 30px; font-size: 14px; padding-bottom: 110px; width: 285px; }

/************SECCION NOSOTROS**************/
div#nosotros { background-color: #D9D9D9; }
div#titulonosotros { top: 50%; position: absolute; color: #213C6D; margin-top: -112px; font-size: 48px; }
img#linea-titulo { position: absolute; }
div#txtnosotros { margin-top: 185px; font-size: 14px; color: #213C6D;}
img#nosotros { width: auto; height: 489px; margin-top: 19px; margin-left: 48px; }


/************SECCION NIVELES**************/
div#niveles { height: 508px; background-color: #6FBCC5; }
div#tituloniveles { top: 50%; position: absolute; color: #213C6D; margin-top: -112px; font-size: 48px; }
img#linea-titulo-niveles { position: absolute; margin-top: 69px; margin-left: -145px; }
div#txtniveles1 { margin-top: 197px; font-size: 14px; color: #213C6D; width: 293px; }
div#txtniveles2 { margin-top: 197px; font-size: 14px; color: #213C6D; width: 293px; }
div#txtniveles3 { margin-top: 197px; font-size: 14px; color: #213C6D; width: 293px; margin-left: 98px; }
div#botonapuntatenivel { color: #213C6D; border: 2px solid #213C6D; margin-left: 100px; margin-top: 36px; width: 194px; border-radius: 25px; height: 29px; font-size: 15px; padding: 2px 0px 1px 0px; text-align: center; cursor: pointer; }
div#botonapuntatenivel a { color: #213C6D; }

/************SECCION CREDITOS**************/
div#creditos { height: 508px; background-color: #FFDE80; }
div#titulocreditos { top: 50%; position: absolute; color: #213C6D; margin-top: -112px; font-size: 48px; }
img#linea-titulo-creditos { position: absolute; margin-top: 69px; margin-left: -168px; }
div#txtcreditos1 { margin-top: 197px; font-size: 14px; color: #213C6D; width: 293px; }
div#txtcreditos2 { margin-top: 197px; font-size: 14px; color: #213C6D; width: 293px; }
div#botoncompracreditos { color: #FFDE80; border: 2px solid #213C6D; margin-left: 0px; margin-top: 36px; width: 194px; background-color: #213C6D; border-radius: 25px; height: 29px; font-size: 15px; padding: 2px 0px 1px 0px; text-align: center; cursor: pointer; }
div#botoncompracreditos a { color: #FFDE80; }

/************SECCION PROFESORES**************/
div#profesores { height: 450px; background-color: #FFFFFF; }
div#tituloprofesores { top: 50%; position: absolute; color: #213C6D; margin-top: -85px; font-size: 48px; }
img#linea-titulo-profesores { position: absolute; margin-top: 69px; margin-left: -403px; }
div#txtprofesores { margin-top: 197px; font-size: 14px; color: #213C6D; width: 570px; }
div#botonprofesores { color: #FFDE80; border: 2px solid #213C6D; margin-left: 0px; margin-top: 52px; width: 194px; background-color: transparent; border-radius: 25px; height: 29px; font-size: 15px; padding: 2px 0px 1px 0px; text-align: center; cursor: pointer; }
div#botonprofesores a { color: #213C6D; }

/************SECCION TESTIMONIOS**************/
div#testimonios { height: 425px; background-color: #ECECEC; }
div#titulotestimonios { top: 50%; position: absolute; color: #213C6D; margin-top: -85px; font-size: 48px; }
img#linea-titulo-testimonios { position: absolute; margin-top: 69px; margin-left: -247px; }
div#txttestimonios1 { margin-top: 197px; font-size: 14px; color: #213C6D; width: 293px; }
div#txttestimonios2 { margin-top: 197px; font-size: 14px; color: #213C6D; width: 293px; }
div#txttestimonios3 { margin-top: 197px; font-size: 14px; color: #213C6D; width: 293px; margin-left: 98px; }

/************SECCION MAPA**************/
div#mapahome { height: 500px; background-color: #ECECEC; }
.overlay { background:transparent; position:absolute; width:100%; height: 500px; }

/************SECCION COLABORAR**************/
div#colaborar { height: 500px; background-color: #AC97DD; }
div#titulocolaborar { top: 50%; position: absolute; color: #213C6D; margin-top: -105px; font-size: 48px; width: 415px;}
img#linea-titulo-colaborar { position: absolute; margin-top: 75px; margin-left: -399px; }
div#txtcolaborar { margin-top: 197px; font-size: 14px; color: #213C6D; width: 490px; }
div#queeres { border: 2px solid #213C6D; border-radius: 25px; height: 29px; padding: 2px 1px 1px 12px; margin-top: 127px; }
div#queeres span { margin-left: 45%; }
div#nombreyapellidos { border: 2px solid #213C6D; border-radius: 25px; height: 29px; padding: 2px 1px 1px 12px; margin-top: 20px; }
div#nombreyapellidos input { background-color: transparent!important; border: 0px; width: 527px; }
div#emailform { border: 2px solid #213C6D; border-radius: 25px; height: 29px; padding: 2px 1px 1px 12px; margin-top: 20px; }
div#emailform input { background-color: transparent!important; border: 0px; width: 527px; }
div#mensaje { border: 2px solid #213C6D; border-radius: 25px; height: 96px; padding: 2px 1px 1px 12px; margin-top: 20px; }
div#mensaje textarea { width: 519px; height: 85px; background-color: transparent; border: 0px; }
div#botonenviar { background-color: #213C6D; margin-top: 20px; border-radius: 25px; height: 29px; color: white; text-align: center; padding-top: 5px; cursor: pointer}







