*, *:after, *::before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body { font-family: 'Raleway', sans-serif; }
a:link { text-decoration: none!important; }
nav a { position: relative; display: inline-block; margin: 15px 31px; outline: none; color: #fff; text-decoration: none; letter-spacing: 0px; font-weight: 400; text-shadow: 0 0 1px rgba(255,255,255,0.3); font-size: 13px; }
nav a:hover, nav a:focus { outline: none; }

/* EFECTO BORDES SUPERIORES */
.cl-effect-21 a { padding: 6px; text-shadow: none; -webkit-transition: color 0.3s; -moz-transition: color 0.3s; transition: color 0.3s; }
.cl-effect-21 a::before, .cl-effect-21 a::after { position: absolute; left: 0; width: 100%; height: 2px; background: #6FBCC5; content: ''; opacity: 0; -webkit-transition: opacity 0.3s, -webkit-transform 0.3s; -moz-transition: opacity 0.3s, -moz-transform 0.3s; transition: opacity 0.3s, transform 0.3s; -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); transform: translateY(-10px); }
.cl-effect-21 a::before { top: 0; -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); transform: translateY(-10px); }
.cl-effect-21 a::after { bottom: 0; -webkit-transform: translateY(10px); -moz-transform: translateY(10px); transform: translateY(10px); }
.cl-effect-21 a:hover, .cl-effect-21 a:focus { color: #fff; }
.cl-effect-21 a:hover::before, .cl-effect-21 a:focus::before, .cl-effect-21 a:hover::after, .cl-effect-21 a:focus::after { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); transform: translateY(0px); }
