@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* Polyglot Language Switcher 2
/* ----------------------------------------------------------------------
Version: 1.0.0
Author: Ixtendo
Author URI: http://www.ixtendo.com
License: MIT License
License URI: http://www.opensource.org/licenses/mit-license.php
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* TABLE OF CONTENTS
/* ----------------------------------------------------------------------
-Global Styles
-Selected Locale (the trigger for the dropdown)
-Language Container
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Global Styles
/* ---------------------------------------------------------------------- */
.polyglot-language-switcher {
	/*font: 14px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif; *//* edit or delete so that the switcher inherits the font styles of your project */
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

@media only screen and ( min-width: 780px ) and ( max-width:970px ) {
    .pls-selected-locale{
        color: #3a91bd !important;
    }
}

@media only screen and ( min-width: 580px ) and ( max-width: 779px ) {
    .pls-selected-locale{
        color: #3a91bd !important;
    }
}

@media only screen and ( min-width: 380px ) and ( max-width: 579px ) {
    .pls-selected-locale{
        color: #3a91bd !important;
    }
}

@media only screen and ( max-width: 379px ) {
    .pls-selected-locale{
        color: #3a91bd !important;
    }
}

.polyglot-language-switcher,
.polyglot-language-switcher * {
	margin: 0;
	padding: 0;	
}

.polyglot-language-switcher {
	position: relative;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.polyglot-language-switcher ul {
	list-style: none;	
}

.polyglot-language-switcher a {
	transition: all 0.2s ease-in-out;
    color: #fff;
    padding: 0 0 0 5px;
}

.polyglot-language-switcher img {
	margin-right: 3px;	
}

/* ---------------------------------------------------------------------- */
/* Selected Locale (the trigger for the dropdown)
/* ---------------------------------------------------------------------- */
.polyglot-language-switcher > .pls-selected-locale {
	text-decoration: none;
	color: #fff;
	position: relative; /* for the arrow */
}

.polyglot-language-switcher > .pls-selected-locale:hover {
	color: #3a91bd;	
}

.polyglot-language-switcher > .pls-selected-locale:after { 
	content: " "; 
	position: absolute;
	top: 50%;
	margin-top: -2px;
	left: 100%;
	margin-left: 5px;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
}

/* ---------------------------------------------------------------------- */
/* Language Container
/* ---------------------------------------------------------------------- */
.pls-language-container-scrollable {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10000;

    width: 200px;
	overflow-x: auto;	
}

.pls-language-container {
	margin-top: 10px;
	padding: 10px 0;
	border: 1px solid #ccc;	
	box-shadow: 0 1px 2px rgba(0,0,0,.08);
	background-color: #fff;
}

.pls-language-container td {
	padding: 0 10px;
	border-right: 1px solid #ccc;
	vertical-align: top;
}

.pls-language-container td:last-child {
	border-right: none;
}

.pls-language-container a {
	color: #3a91bd;	
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	white-space: nowrap;
}

.pls-language-container a:hover {
	background-color: #f5f5f5;	
	color: #333; 
}

.pls-language-container .pls-selected-locale {
	color: #333;
	font-weight: bold;	
	cursor: default;
}