﻿
#overlay
{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 99999;
    background: #000;
	
	
	
}
#popup
{
    background-color: #F0EED5;
    box-shadow: 2px 2px 5px #B2A08B;
    display: none;
    left: 60%; /* margin-left: -150px;*/
    margin-top: -75px;
    position: fixed;
    top: 30%;
    width: 324px;
    z-index: 100000;
    padding: 20px 5px;
    border-radius: 10px;
}

#LearnMoreBtn
{
    float: right;
    border: 0;
    padding: 0;
    background: none;
}

.pl-label
{
    color: #1D1A3C;
    float: left;
    font: 12px/28px Arial,sans-serif;
    margin-right: 9px;
    text-align: right;
    width: 108px;
}
#popup input[type="text"]
{
    border: 1px solid #E3E1D4;
    box-shadow: 0 2px 1px #ECECED inset;
    float: left;
    height: 28px;
    margin-bottom: 5px;
    padding: 0 10px;
    width: 170px;
}
#popup input[type="submit"]
{
    background: linear-gradient(#FFB801, #FF6A00) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #CBD4D1, -2px -2px 4px #CBD4D1;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font: bold 26px/54px Arial,sans-serif;
    height: 54px;
    margin: 15px auto;
    text-align: center;
    text-shadow: 2px 2px 2px #FF6B00;
    text-transform: uppercase;
    width: 262px;
}
#popup select
{
    border: 1px solid #E3E1D4;
    box-shadow: 0 2px 1px #ECECED inset;
    float: left;
    margin-bottom: 5px;
    padding: 5px;
    width: 170px;
}
.video_landing2 iframe
{
    z-index: 99;
}
.CloseBtn
{
    position: absolute;
    top: -18px;
    right: -20px;
    border: 0;
    padding: 0;
    background: none;
}
.clear
{
    clear: both;
}


#popupAboutus
{
    background-color: #F0EED5;
    box-shadow: 2px 2px 5px #B2A08B;
    display: none;
    left: 30%; /* margin-left: -150px;*/
    margin-top: -75px;
    position: fixed;
    top: 25%;
    width: 600px;
    z-index: 100000;
    padding: 20px 5px;
    border-radius: 10px;
}


.popupBody
{
    float: left;
    text-align: center;
    color: #777777;
    margin-right: 35px;
    font-size: 13px;
    line-height: 18px;
}
.popupBody .img
{
}

.popupBody h2
{
    font-family: 'Oswald' , sans-serif;
    font-size: 23px;
    color: #d9631d;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 20px 0;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.popupBody p
{
    text-align: justify;
    padding: 12px;
}

.popupBody input[type="text"]
{
    border: 1px solid #E3E1D4;
    width: 70%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

.popupBody textarea
{
    border: 1px solid #E3E1D4;
    width: 70%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    height: 20%;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}
.popupBody input[type="submit"]
{
    background: linear-gradient(#FFB801, #FF6A00) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #CBD4D1, -2px -2px 4px #CBD4D1;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font: bold 26px/54px Arial,sans-serif;
    height: 54px;
    margin: 15px auto;
    text-align: center;
    text-shadow: 2px 2px 2px #FF6B00;
    text-transform: uppercase;
    width: 262px;
}

.popupBody ul, ol
{
    line-height: 20px;
    margin: 0 0 10px 25px;
    padding: 5px;
    text-align: left;
}

.popupBody select
{
    border: 1px solid #E3E1D4;
    box-shadow: 0 2px 1px #ECECED inset;
    float: left;
    margin-bottom: 5px;
    padding: 5px;
    width: 170px;
}

.popupBody input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus
{
    border-color: #e9322d;
    box-shadow: 0 0 6px #f8b9b7;
}

.popupBody input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]
{
    background-color: #eeeeee;
    cursor: not-allowed;
}

.popupBodytext
{
    max-height: 350px;
    overflow-y: auto;
}


.btn-info
{
    background-color: #49afcd;
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 15px;
    padding: 5px 20px;
    text-align: center;
    vertical-align: middle;
}

#popupContactus
{
    background-color: #F0EED5;
    box-shadow: 2px 2px 5px #B2A08B;
    display: none;
    left: 30%; /* margin-left: -150px;*/
    margin-top: -75px;
    position: fixed;
    top: 30%;
    width: 600px;
    z-index: 100000;
    padding: 20px 5px;
    border-radius: 10px;
}

#popupInfoNivel
{
    background-color: #F0EED5;
    box-shadow: 2px 2px 5px #B2A08B;
    display: none;
    left: 30%; /* margin-left: -150px;*/
    margin-top: -75px;
    position: fixed;
    top: 30%;
    width: 600px;
    z-index: 100000;
    padding: 20px 5px;
    border-radius: 10px;
}

#popupOnetoOne
{
    background-color: #F0EED5;
    box-shadow: 2px 2px 5px #B2A08B;
    display: none;
    left: 30%; /* margin-left: -150px;*/
    margin-top: -75px;
    position: fixed;
    top: 30%;
    width: 600px;
    z-index: 100000;
    padding: 20px 5px;
    border-radius: 10px;
}

#popupInformationConditionsTerms
{
    background-color: #F0EED5;
    box-shadow: 2px 2px 5px #B2A08B;
    display: none;
    left: 30%; /* margin-left: -150px;*/
    margin-top: -75px;
    position: fixed;
    top: 30%;
    width: 600px;
    z-index: 100000;
    padding: 20px 5px;
    border-radius: 10px;
}
#popupAddNEW
{
    background-color: #F0EED5;
    box-shadow: 2px 2px 5px #B2A08B;
    display: none;
    left: 30%; /* margin-left: -150px;*/
    margin-top: -75px;
    position: fixed;
    top: 30%;
    width: 600px;
    z-index: 100000;
    padding: 20px 5px;
    border-radius: 10px;
}

@media only screen and (max-width:1024px) {#popupContactus{width:80%; left:10%; margin:4% 0;}

#quotepopup{width:80%; left:10%; margin:4% 0;}
}

@media only screen and (max-width:980px) {#popupContactus{width:90%; left:2%; margin:4% 0;}
#popupOnetoOne{width:90%; left:2%; margin:4% 0;}
#popupInfoNivel{width:90%; left:2%; margin:4% 0;}
#popupInformationConditionsTerms{width:90%; left:2%; margin:4% 0;}
}

@media only screen and (max-width:768px) {
#popupContactus{width:90%; left:2%; margin:4% 0;}
#popupContactus p{width:100%;}
#popupContactus input[type="text"]{width:58%;}
#popupContactus input[type="password"]{width:58%;}
#popupContactus textarea{ width:60%;}
#pass_strength_msg{padding:0 5px !important; font-size:12px; width:90% !important;}

#popupContactus{  margin-top: -489px;  position: relative;  z-index: 9999999;}
#quotepopup h2{line-height:20px;}
#popupContactus h2{line-height:20px;}

}
@media only screen and (max-width:480px) {
	#popupContactus{width:88%; left:2%; margin:4% 0;}
#popupContactus input[type="text"]{width:53%;}
#popupContactus input[type="password"]{width:53%;}
#popupContactus textarea{ width:55%;}
#popupContactus select{width:172px;}
#CloseBtnregister{right:-9px;}

#CloseBtnquote{right:-9px;}
#quotepopup select{width:172px;}
}
