.student_table{
    display: block;
}

.teacher_table{
    display: none;
}

.student_link{
    float: left;
    padding: 10px;
}

.teacher_link{
    /*float: left;*/
    padding: 10px;
}
.active{
    color: blue;
    text-decoration: underline;
}