/*@import url(http://fonts.googleapis.com/css?family=[MetroScript]);*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,300);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Oswald);

* {
    margin: 0;
    padding: 0;
}

a, img {
    border: none;
    outline: none;
    text-decoration: none;
}

/*input, textarea {
    background: none;
    outline: none;
    border: none;
}*/

img {
    max-width: 100%;
}

.clear {
    clear: both;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 0;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #777;
}

.height0 {
    display: block;
    width: 100%;
    clear: both;
    height: 0px !important;
}

.height3 {
    display: block;
    width: 100%;
    clear: both;
    height: 3px !important;
}

.height5 {
    display: block;
    width: 100%;
    clear: both;
    height: 5px !important;
}

.height10 {
    display: block;
    width: 100%;
    clear: both;
    height: 10px !important;
}

.height15 {
    display: block;
    width: 100%;
    clear: both;
    height: 15px !important;
}

.height20 {
    display: block;
    width: 100%;
    clear: both;
    height: 20px !important;
}

.height25 {
    display: block;
    width: 100%;
    clear: both;
    height: 25px !important;
}

.height30 {
    display: block;
    width: 100%;
    clear: both;
    height: 30px !important;
}

.height35 {
    display: block;
    width: 100%;
    clear: both;
    height: 35px !important;
}

.height40 {
    display: block;
    width: 100%;
    clear: both;
    height: 40px !important;
}

.height45 {
    display: block;
    width: 100%;
    clear: both;
    height: 45px !important;
}

.height50 {
    display: block;
    width: 100%;
    clear: both;
    height: 50px !important;
}

.height55 {
    display: block;
    width: 100%;
    clear: both;
    height: 55px !important;
}

.height60 {
    display: block;
    width: 100%;
    clear: both;
    height: 60px !important;
}

.height65 {
    display: block;
    width: 100%;
    clear: both;
    height: 65px !important;
}

.height70 {
    display: block;
    width: 100%;
    clear: both;
    height: 70px !important;
}

.container {
    float: left;
    width: 100%;
}

header {
    float: left;
    width: 100%;
    margin: 0px 0 0 0;
    background: url(../images/header_bg.jpg) repeat-x top left;
    position: relative;
}

.wrapper {
    display: block;
    width: 1003px;
    margin: 0 auto;
}


.wrapper2 {
    margin-bottom: 30px;
    padding-left: 20px;
    width: 97%;
}

.profile-left {
    background: none repeat scroll 0 0 #00254e;
    float: left;
    min-height: 700px;
    padding: 20px 0;
    width: 314px;
}

.profile-leftN {
    background: none repeat scroll 0 0 #fafafa;
    float: left;
    min-height: 700px;
    padding: 7px 0;
    width: 195px;
    border: #dddddd solid 1px;
}


.profile-right {
    margin-left: 220px;
    width: 81%;
}
.profile-right h1 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    border-bottom: #ddd solid 1px;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

.price-box {
    float: right;
}

.price-box input[type=text] {
    float: right;
    width: 66px;
    height: 20px;
    background: #ece781;
    border-radius: 5px;
    padding: 3px;
    color: #937d32;
    font-size: 18px;
    box-shadow: 1px 1px 3px -1px #aaa inset;
}

.price-box label {
    float: left;
    text-align: right;
    line-height: 20px;
    padding-right: 10px;
}

.profile-details {
    /*padding: 0 23px;*/
    padding: 0 5px;
}

.profile-pic {
    /*border: 5px solid #fff;
    height: 257px;
    margin: 0 0 20px;
    width: 257px;*/
    border: #dddddd solid 5px;
    height: 175px;
    margin: 0 0 2px;
    width: 175px;
}

.profile-pic-comment {
    /*border: 5px solid #fff;
    height: 257px;
    margin: 0 0 20px;
    width: 257px;*/
    border: #dddddd solid 5px;
    height: 50px;
    margin: 0 0 2px;
    width: 50px;
    zoom: 1;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

.profile-details h2 {
    /*color: #fff;
    font-size: 17px;
    margin: 0 0 10px;*/

    color: #34a6fb;
    font-size: 17px;
    margin: 0 0 5px;
    text-align: center;
}


.text_container_l {
    width: 100px;
    float:left;
}
.text_container_r {
    width: 400px;
    float:left;
    margin:0 0 20px 100px;
}
.text_l {
    float:left;
    width:100px;
    margin:0 0 0 -100px;
}
.text_r {
    float:left;
}

.comment-description {
    color: #d65e17;
    font-size: 14pt;
    font-family: "Lato";
    text-align: center;
    margin: 20px;
}



.blockquote {
    background: #f7f7f7;
    border-left: 1px solid #bbb;
    font-style: italic;
    margin: 1.5em 10px;
    line-height: 2em;
    padding: 0.5em 10px;
}

.blockquote:before {
    color: #bbb;
    content: "\201C"; /* Непечатаемый символ слева */
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -.4em;
}

.blockquote:after {
    color: #bbb;
    content: "\201D"; /* Непечатаемый символ справа */
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -.45em;
}

.blockquote:first-child {
                    display: inline;
                }


.tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top:0px;
    left:0px;
    background-color: #000;
    padding: 5px 10px 5px 10px;
    color: white;
    opacity: 0.6;
    border-radius: 5px;
}

.edit {
    float: left;
}

.edit a {
    background: none repeat scroll 0 0 #d65e17;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'PT Sans',sans-serif;
    font-size: 17px;
    padding: 5px 7px;
}

.edit1 {
    float: right;
}

.edit1 a {
    background: none repeat scroll 0 0 #d65e17;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'PT Sans',sans-serif;
    font-size: 17px;
    padding: 5px 7px;
}
.profile-list {
    list-style: none outside none;
    margin: 27px 0 0;
    padding: 0;
}

.profile-list li {
    /*    border-bottom: 1px solid #003a7c;
        color: #fff;
        display: block;
        font-size: 17px;
        line-height: 25px;
        padding-bottom: 5px;
        padding-left: 20px;*/
    border-bottom: 1px solid #dddddd;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 5px;
    padding-left: 7px;
}
.profile-list li a {
    /*color: #fff;*/
    color: #777;
}
.logo {
    float: left;
    width: 221px;
    margin-top: 20px;
}

.header_rt {
    float: right;
    width: 650px;
}

.select-city {
    float: right;
    margin-top: 10px;
    width: 150px;
}

.select-city select {
    background: #fff;
    border: #ccc solid 1px;
    width: 100%;
    border-radius: 3px;
}

.top-menu {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 10px;
}

.top-menu a {
    color: #fff;
    padding: 0 0 0 5px;
}

.social_icon {
    float: right;
    text-align: right;
}

.social_icon img {
    margin-left: 5px;
}

nav {
    float: right;
    margin-top: 1px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

nav li {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-left: 43px;
    text-transform: uppercase;
    position: relative;
}

nav li a {
    color: #fd7800;
}

nav li ul.sub-menu {
    display: none;
    position: absolute;
    top: 16px;
    left: 0;
    width: 189px;
    background: #00254e;
    z-index: 9999;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); *//* border-radius:6px;*/
}

nav li ul.sub-menu li {
    background: none;
    border-bottom: #ccc solid 1px;
    padding: 7px 0px 7px 10px;
    margin-left: 0;
    width: 94%;
}

nav li ul.sub-menu li a {
    color: #fff;
}

nav li ul.sub-menu li:last-child {
    border-bottom: none;
}

nav li ul.sub-menu li:hover {
    background: #d65e17;
}

nav li ul.sub-menu li:hover a {
    color: #fff;
}

nav li:hover ul.sub-menu {
    display: block;
}
.responsiveMenuSelect{ display:none;}

.banner {
    width: 99%;
    /* float: left;*/
    text-align: center;
    margin-left: 4px;
}

#bg {
    height: auto;
    max-width: 100%;
}

.bgwidth {
    width: 100%;
    height:400px;
}

.top-section {
    float: left;
    width: 100%;
}

.box1 {
    float: left;
    width: 308px;
    text-align: center;
    color: #777777;
    margin-right: 35px;
    font-size: 13px;
    line-height: 18px;
}

.box1 .img {
}

.box1 h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    color: #d9631d;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0 20px 0;
}

.box2 {
    float: left;
    width: 308px;
    text-align: center;
    color: #777777;
    margin-right: 0px;
    font-size: 13px;
    line-height: 18px;
}

.box2 .img {
}

.box2 h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    color: #d9631d;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0 20px 0;
}

.content-section {
    position: relative;
    margin-top: 30px;
    background: url(../images/top_bg.png) repeat-x top center;
    padding: 20px 0 0 10px;
    float: left;
    width: 100%;
    border-radius: 7px;
}

.registration_text {
    color: #3c3c3c;
    font-size: 17px;
    float: left;
    width: 468px;
    font-family: 'PT Sans', sans-serif;
}

.button {
    text-align: center;
    margin: 10px 0 0 0;
}

.nuestros {
    margin-top: 30px;
}

.nuestros h2 {
    font-size: 28px;
    color: #d9631d;
    font-family: 'PT Sans', sans-serif;
    font-weight: 300px;
    margin: 0 0 10px 0;
}

.nuestros img {
    margin-right: 0px;
}

.right-img {
    float: right;
    margin-right: 20px;
    width:440px; background:url(../images/shadow_img.png) no-repeat center bottom; padding-bottom:40px;
}

.blue-box {
    background: #00254e;
    position: relative;
    width: 100%;
    float: left;
    margin-top: 30px;
    padding-bottom: 25px;
    margin-bottom: 52px;
}

.regis-box1 {
    float: left;
    width: 304px;
    position: relative;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.regis-box1 h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 58px;
    font-weight: normal;
    margin-bottom: 25px;
}

.border {
    float: left;
    width: 2px;
    margin: 0 20px;
    padding-top: 65px;
}

.number {
    position: absolute;
    top: -53px;
    left: 32%;
}

.date {
    text-align: center;
    margin-bottom: 30px;
}

.map {
    text-align: center;
}

.form h3 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 14px;
}

.form h3 span {
    font-size: 16px;
}

.selectbg {
    background: #fff;
    border-radius: 5px;
    border: 0;
    width: 100%;
    height: 32px;
    margin-bottom: 15px;
    padding: 5px;
}

.submit_bt {
    background: #d65e17;
    border-radius: 5px;
    padding: 3px 12px;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    border: 0;
    font-size: 19px;
    cursor: pointer;
    margin-right: 5px;
}

.inputbg {
    background: #fff;
    border-radius: 5px;
    border: 0;
    width: 97%;
    height: 32px;
    margin-bottom: 10px;
    padding: 5px;
}

.radio {
    text-align: left;
    font-size: 14px;
    margin: 20px 0;
}

.radio input[type=checkbox] {
    float: left;
    margin-right: 2px;
}

.radio p {
    margin-bottom: 7px;
}

.form-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 30px;
}

.form-text a {
    color: #ffffff;
}
.testimonial {
    float: left;
    width: 100%;
    background: #fff;
    padding-bottom: 35px;
}

.testimonial h2 {
    font-size: 41px;
    color: #d65e17;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 60px;
    text-align: center;
}

.testi-box {
    float: left;
    width: 298px;
    margin: 0 15px;
    text-align: center;
    color: #646464;
    font-size: 19px;
    font-family: 'PT Sans', sans-serif;
}

.bottom-logo {
    background: #212121;
    border-top: #f38827 solid 2px;
    padding: 30px 0;
    text-align: center;
    float: left;
    width: 100%;
}

.bottom-logo img {
    margin: 0 15px;
}

.bottom {
    background: #e7e7e7;
    float: left;
    width: 100%;
    padding: 20px 0 40px 0;
    color: #353535;
    font-family: 'PT Sans', sans-serif;
}

.information {
    float: left;
    width: 210px;
    margin-right: 35px;
    font-size: 13px;
}

.information h2 {
    color: #6b6b6b;
    background: url(../images/bottom_border.jpg) repeat-x bottom left;
    padding-bottom: 10px;
    font-size: 23px;
    margin-bottom: 12px;
}

.information ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.information li {
    font-size: 13px;
    color: #353535;
    display: block;
    padding-left: 12px;
    margin-bottom: 5px;
    background: url(../images/arrow.png) no-repeat left 3px;
}

.information li a {
    color: #353535;
}

.yellow_box {
    float: left;
    background: #f38827;
    width: 164px;
    height: 96px;
    text-align: center;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 23px;
    padding: 10px 0;
    margin-right: 7px;
    text-transform: uppercase;
    border-radius: 7px;
    margin-top: 15px;
}

.yellow_box p {
    padding-top: 20px;
    color: #212121;
    font-size: 20px;
}

.yellow_box p a {
    color: #212121;
}

.pink_box {
    float: left;
    background: #e71173;
    width: 164px;
    height: 96px;
    text-align: center;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 23px;
    padding: 10px 0;
    margin-right: 7px;
    text-transform: uppercase;
    border-radius: 7px;
    margin-top: 15px;
}

.pink_box p {
    padding-top: 20px;
    color: #212121;
    font-size: 20px;
}

.pink_box p a {
    color: #212121;
}

.blue_box {
    float: left;
    background: #35aae1;
    width: 164px;
    height: 96px;
    text-align: center;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 23px;
    padding: 10px 0;
    margin-right: 7px;
    text-transform: uppercase;
    border-radius: 7px;
    margin-top: 15px;
}

.blue_box p {
    padding-top: 20px;
    color: #212121;
    font-size: 20px;
}

.blue_box p a {
    color: #212121;
}

.footer {
    background: #212121;
    float: left;
    width: 100%;
    padding: 10px 0 20px 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #fff;
    margin-top: 10px;
}

.footer_lt {
    float: left;
    width: 270px;
    margin-top: 10px;
}

.footer_rt {
    float: right;
    width: 370px;
    text-align: right;
}


.inner-content {
    width: 100%;
    float: left;
    padding-bottom: 40px;
}

.title {
    font-size: 28px;
    color: #d9631d;
    font-family: 'PT Sans', sans-serif;
    font-weight: 300px;
    margin: 0 0 10px 0;
}

.title_bg {
    background: #00254e;
    font-size: 28px;
    color: #fff;
    padding: 25px 0;
    margin-bottom: 30px;
}

.title_bgd {
    background: #00254e;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
}

.title_bg1 {
    background: #00254e;
    font-size: 28px;
    color: #fff;
    padding: 12px 0;
    margin-bottom: 12px;
}

.thumbnail {
    float: left;
    margin-bottom: 10px;
}


.fleft {
    float: left;
    margin-bottom: 12px;
    margin-right: 20px;
    margin-top: 4px;
}


.img_inner > img {
    max-width: 100%;
    width: 313px;
    height: 232px;
}

.img_inner2 > img {
    max-width: 100%;
    width: 213px;
    height: 132px;
}


.caption h3 {
    color: #d9631d;
    font-size: 22px;
    font-family: 'PT Sans',sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    font-style: normal;
}


.caption p {
    margin: 10px 0;
    text-align: justify;
    font-size: 13px;
    color: #7E7474;
    line-height: 21px;
}


.caption a {
    color: #777;
}


.btn-primary {
    background: none repeat scroll 0 0 #00254e;
    border-radius: 2px;
    color: #fff!important;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin: 17px 0 0;
    padding: 6px 17px 8px;
}


.btn-primary:hover {
    background: none repeat scroll 0 0 #fd8f01;
}



.btn-default {
    background: none repeat scroll 0 0 #fd8f01;
    border-radius: 2px;
    color: #fff!important;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin: 17px 0 0 5px;
    padding: 6px 17px 8px;
}


.btn-default:hover {
    background: none repeat scroll 0 0 #00254e;
}



.que_es h2 {
    color: #d9631d;
    font-size: 22px;
    font-family: 'PT Sans',sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    font-style: normal;
}


.que_es p {
    margin-bottom: 15px;
}

.img_inner {
    display: inline-block;
    border: 0px solid #dfdfdf;
    padding: 6px;
    background: #fff;
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 340px;
    height: 240px;
}

.img_inner2 {
    display: inline-block;
    border: 0px solid #dfdfdf;
    padding: 6px;
    background: #fff;
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 240px;
    height: 140px;
}

.block-title {
    position: relative;
    font-size: 20px;
    margin: 0px 0px 26px;
    line-height: 30px;
    font-weight: normal;
    font-family: "Roboto Condensed",sans-serif;
    border-bottom: 2px solid #4DB2EC;
}

.block-title span, .block-title label {
    background-color: #4DB2EC;
    z-index: 1;
    color: #FFF;
    font-family: "Roboto Condensed",sans-serif;
    padding: 3px 10px;
}

.block-img {
    float: left;
    width: 367px;
}

.block-img img {
    width: 100%;
}

.marketing .span7 {
    float: left;
    min-height: 1px;
    margin-left: 30px;
    width: 594px;
}

.marketing .span7 h3 {
    color: #fd7801 !important;
    margin-bottom: 10px;
    font-family: "Oswald",sans-serif;
}

.marketing .span7 p {
    font-size: 13px;
    color: #777;
    margin-bottom: 20px;
}

.new-record {
    background: none repeat scroll 0% 0% #D65E17;
    border-radius: 5px;
    padding: 3px 12px;
    color: #FFF;
    font-family: "PT Sans",sans-serif;
    border: 0px none;
    font-size: 19px;
    cursor: pointer;
    margin: 5px 0 20px 0;
    float: right;
}


.wrapper-demo {
    width: 100%;
    height: auto;
    margin: 0 auto; /*margin-top: 15%;*/
}
/****-----start-wrapper-dropdown-2----****/
.wrapper-dropdown-2 {
    background: none repeat scroll 0 0 #d65e17;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    font: 400 16px 'CenturyGothicRegular',sans-serif;
    outline: medium none;
    padding:8px 20px 8px 15px;
    position: relative;
}
.dropdown:before {
    border-color: #fff rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 12px 12px;
    content: "";
    height: 0;
    margin-top: -6px;
    position: absolute;
    right: 20px;
    top: -6px;
    width: 0;
}
.wrapper-dropdown-2 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px; /* Styles */
    background: #00254e;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
    z-index: 1;
    border: #ccc solid 1px; /* Hiding */
    opacity: 0;
    pointer-events: none;
    padding-bottom:35px;
}

.wrapper-dropdown-2 .dropdown li:last-child {
    border-bottom: none;
}

.wrapper-dropdown-2 .dropdown li {
    /* 	-webkit-transition: all 0.3s ease-out; 	-moz-transition: all 0.3s ease-out; 	-ms-transition: all 0.3s ease-out; 	-o-transition: all 0.3s ease-out; 	transition: all 0.3s ease-out;*/
    border-left: 0px solid #EBEBEB;
    display: block;
    float: none;
    margin: 0;
    padding: 8px 20px 0;
}

.wrapper-dropdown-2 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font: 400 12px 'CenturyGothicRegular',sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown li a:hover {
    color: #FFF;
}

.dropdown li a:hover .icon {
    background-position: 0px 0px;
}
/* Hover state */
.wrapper-dropdown-2 .dropdown li:hover {
    /*    background: #28b0fe;*/
}

.wrapper-dropdown-2 .dropdown li:nth-child(1) {
    /*border-top-left-radius:5px; 	-webkit-border-top-left-radius:5px; 	-moz-border-top-left-radius:5px; 	-o-border-top-left-radius:5px; 	border-top-right-radius:5px; 	-webkit-border-top-right-radius:5px; 	-moz-border-top-right-radius:5px; 	-o-border-top-right-radius:5px;*/
}

.wrapper-dropdown-2 .dropdown li:last-child {
    /*	border-bottom-left-radius:5px; 	-webkit-border-bottom-left-radius:5px; 	-moz-border-bottom-left-radius:5px; 	-o-border-bottom-left-radius:5px; 	border-bottom-right-radius:5px; 	-webkit-border-bottom-right-radius:5px; 	-moz-border-bottom-right-radius:5px; 	-o-border-bottom-right-radius:5px;*/
}

.wrapper-dropdown-2 .dropdown li:nth-child(2), .wrapper-dropdown-2 .dropdown li:nth-child(3), .wrapper-dropdown-2 .dropdown li:nth-child(4) {
    border-radius: none;
}
/* Active state */
.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
/* No CSS3 support */
.no-opacity .wrapper-dropdown-2 .dropdown, .no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity .wrapper-dropdown-2.active .dropdown, .no-pointerevents .wrapper-dropdown-2.active .dropdown {
    display: block;
}

.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
/*****/
.wrapper-dropdown-2 span {
    float: right;
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

.searchbar {
    background: #e16b02;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    border-radius: 7px;
    font-size: 18px;
}

.searchbar table {
    margin: 0 auto 0 auto;
}

.submit_bt1 {
    background: #00254e;
    border-radius: 5px;
    padding: 3px 12px;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    border: 0;
    font-size: 19px;
    cursor: pointer;
    margin-right: 5px;
    text-transform: uppercase;
}

.video_box {
    float: left;
    width: 48%;
    margin: 0 10px 20px 10px;
    background: #fff;
    box-shadow: #8a8a8a 0 0 2px;
}

h4.block-heading {
    background: none repeat scroll 0% 0% #D9631D;
    margin: 0px 0px 0px;
    padding: 12px 0px 14px 20px;
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color: #FFF;
}

.video_box .block-content {
    padding: 13px 17px 18px 15px;
}

.video_box .block-content p {
    margin-bottom: 10px;
}


.medi_box {
    background: #fff;
    border-radius: 5px;
    box-shadow: #8a8a8a 0px 0px 2px;
    padding: 10px;
    margin-bottom: 12px;
}

.medi_box h3 {
    background: url(../images/icon_img.png) no-repeat left top;
    padding-left: 40px;
    color: #FD7800;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 34px;
}

.medi_box h3 a {
    color: #FD7800;
}

.medi_box small {
    padding-left: 40px;
}

.medi_box p {
    padding-left: 40px;
    color: #E22004;
    font-weight: 600;
    padding-top: 5px;
}

.img-intro__left, .img-full__left {
    float: left;
    margin: 10px 18px 9px 0px;
    max-width: 50%;
}

ul.item_list, ul.item-list {
    margin: 0px;
    overflow: hidden;
}

ul.item_list li, ul.item-list li {
    background: url('../images/marker.png') no-repeat scroll 0px 3px transparent;
    list-style: none outside none;
    padding: 0px 0px 0px 24px;
    color: #777;
    font-size: 14px;
    margin-top: 15px;
}

ul.item_list li, ul.item-list li a {
    color: #ef1f30;
}

.more-information {
    padding: 15px 0 0 0;
}

.more-information a {
    color: #ef1f30;
}

.patner-title h2 {
    font-size: 38px;
    color: #FD7800;
    margin: 0px 0px 34px;
    width: 100%;
    text-align: center;
}


.patner-title h2 span {
    width: 100%;
    height: 2px;
    background: none repeat scroll 0% 0% #A02D2F;
    display: block;
    margin-top: -23px;
    margin-bottom: 25px;
    color: #191919;
}

.patner-title h2 em {
    display: inline-block;
    padding: 0px 22px;
    font-style: normal;
    background: none repeat scroll 0% 0% #FFF;
    letter-spacing: 2px;
}

.patner ul {
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
}

.patner li {
    display: block;
    float: left;
    margin-right: 10px;
}

.patner {
    margin-bottom: 50px;
    float: left;
}

/*.tablefrom {
    width: 100%;
    padding: 0;
    margin: 0;
    border: #999 solid 1px;
}*/

/*.tablefrom th {
        padding: 8px;
        background-color: #d65e17;
        color: #fff;
        border-bottom: 1px solid #DDDDDD;
        line-height: 20px;
        text-align: left;
    }*/

/*.tablefrom td {
        padding: 8px;
        background-color: #fff;
        border-bottom: 1px solid #DDDDDD;
        line-height: 20px;
    }*/
.tablefrom {
    width: 100%;
    padding: 0;
    margin: 0;
    border: #999 solid 1px;
    min-height: 17px;
}

.tablefrom td {
    padding: 2px;
    background-color: #fff;
    border-bottom: 1px solid #DDDDDD;
    line-height: 24px;
    text-align: center;
}

.tablefrom tr:hover {
    background: #ccc;
}


.tablefrom th {
    padding: 8px;
    background-color: #00254E;
    color: #fff;
    border-left: none #DDDDDD;
    line-height: 20px;
    text-align: center;
}

.btn-info1 {
    background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 5px;
}

.wrapper1 {
    width: 97%;
    padding-left: 20px;
    margin-bottom: 30px;
}

.add-new-button {
    background: url(../images/addNew.png) no-repeat left top;
    padding-left: 31px;
    font-size: 14px;
    line-height: 25px;
    float: right;
    padding-right: 6px;
    padding-bottom: 9px;
}

.login {
    background: #D9631D;
    border-radius: 4px;
    padding: 4px 10px;
    color: #fff;
    font-size: 13px;
    float: right;
    margin: 6px 0 0 10px;
}

.login a {
    color: #fff;
}

.pop-table {
    width: 94% !important;
    padding: 6px;
    border-spacing: 0px;
    margin: 10px auto 0 auto;
    border-radius: 5px;
    /*  background: none repeat scroll 0% 0% #DADADA;*/
}

.pop-table td {
    padding: 2px;
}

.pop-table td label {
    width: 90px;
}

.pop-table td input[type=text] {
    width: 90%;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    height: 24px;
    line-height: 20px;
    /*  margin-bottom: 10px;*/
    padding: 4px 6px;
    vertical-align: middle;
}

.pop-table-search {
    width: 99% !important;
    padding: 6px;
    border-spacing: 0px;
    margin: 10px 5px 0 0;
    border-radius: 5px;
    /*  background: none repeat scroll 0% 0% #DADADA;*/
}

.pop-table-search td {
    padding: 2px;
}

.pop-table-search td label {
    width: 90px;
}

.pop-table-search td input[type=text] {
    width: 90%;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    height: 24px;
    line-height: 20px;
    /*  margin-bottom: 10px;*/
    padding: 4px 6px;
    vertical-align: middle;
}

.btn {
    margin: 10px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 15px;
    padding: 5px 20px;
    text-align: center;
    vertical-align: middle;
}
.btns {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 1px;
    padding: 5px 20px;
    text-align: center;
    vertical-align: middle;
}

.btn-info {
    background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
}

.GB_Window .header {
    /*width: 596px!important;*/
    background: #00254e!important;
    padding: 8px 0 8px 12px!important;
    color: #fff;
}

.GB_Window .caption {
    font-size: 18px!important;
}

.listing {
    margin: 0 0 0 15px;
}

.listing li {
    margin-bottom: 25px;
}

/*<start login page html>*/
.login_box {
    background: #fff;
    border: #ccc solid 0px;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 30px;
}

.login_panel {
    float: left;
    width: 373px;
    border-right: #ccc solid 0px;
    padding: 84px 30px 30px 30px;
    margin-right: 40px;
    background: #00254e;
    border-radius: 7px;
    position: relative;
    margin-top: 48px;
}

#forgot_panel {
    display: none;
    float: left;
    width: 373px;
    border-right: #ccc solid 0px;
    padding: 84px 30px 30px 30px;
    margin-right: 40px;
    background: #00254e;
    border-radius: 7px;
    position: relative;
    margin-top: 48px;
}

.register_panel {
    float: left;
    width: 374px;
    background: #fff;
    box-shadow: #aaa 0px 0 4px;
    padding: 30px 30px 30px 30px;
    border-radius: 7px;
}

.login_icon {
    position: absolute;
    top: -54px;
    margin: 0px auto;
    text-align: center;
    width: 86%;
}

legend {
    color: #0481b1;
    font-size: 16px;
    padding: 0 10px;
    background: #fff;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

fieldset {
    border-radius: 4px;
    /* background: #fff;
        background: -moz-linear-gradient(#fff, #f9fdff);
        background: -o-linear-gradient(#fff, #f9fdff);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff)); /
        background: -webkit-linear-gradient(#fff, #f9fdff);
        padding:20px;
        border-color:rgba(4, 129, 177, 0.4);*/
    border: 0;
}

.register_panel input[type="text"],
input[type="password"] {
    color: #373737;
    background: #fff;
    border: 1px solid #CCCCCC;
    color: #aaa;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

.register_panel input[type="text"],
input[type="password"] {
    padding: 8px 6px;
    height: 22px;
    width: 362px;
}

.register_panel input[type="text"]:focus,
input[type="password"]:focus {
    text-indent: 0;
    z-index: 1;
    color: #373737;
    /*-webkit-transition-duration: 400ms;
-webkit-transition-property: width, background;
-webkit-transition-timing-function: ease;
-moz-transition-duration: 400ms;
-moz-transition-property: width, background;
-moz-transition-timing-function: ease;
-o-transition-duration: 400ms;
-o-transition-property: width, background;
-o-transition-timing-function: ease;*/
    width: 362px;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
}

.register_panel input[type="submit"] {
    /*  background: #222;
    border: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);*/
    text-transform: uppercase;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    margin: 5px 0;
    padding: 7px 22px;
    width: 100%;
    /* -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);*/
}

.register_panel textarea {
    padding: 3px;
    width: 96%;
    height: 100px;
}

.register_panel textarea:focus {
    background: #ebf8fd;
    text-indent: 0;
    z-index: 1;
    color: #373737;
    opacity: 0.6;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    border-color: #ccc;
}
.login_panel input[type="text"],
input[type="password"]{
    color: #373737;
    background: #fff;
    border: 1px solid #CCCCCC;
    color: #aaa;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

.login_panel input[type="text"],
input[type="password"] {
    padding: 8px 6px;
    height: 22px;
    width: 362px;
}

.login_panel input[type="text"]:focus,
input[type="password"]:focus {
    text-indent: 0;
    z-index: 1;
    color: #373737;
    /*-webkit-transition-duration: 400ms;
-webkit-transition-property: width, background;
-webkit-transition-timing-function: ease;
-moz-transition-duration: 400ms;
-moz-transition-property: width, background;
-moz-transition-timing-function: ease;
-o-transition-duration: 400ms;
-o-transition-property: width, background;
-o-transition-timing-function: ease;*/
    width: 362px;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
}

.login_panel input[type="submit"] {
    /*  background: #222;
    border: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);*/
    text-transform: uppercase;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    margin: 5px 0;
    padding: 7px 22px;
    float:right;
    /* width: 100%;*/
    /* -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);*/
}
.socila_icon {
    float: left;
    margin-top: 5px;
    width: 85px;
}
.socila_icon img{margin:0 5px 0 0;}

.login_panel textarea {
    padding: 3px;
    width: 96%;
    height: 100px;
}

.login_panel textarea:focus {
    background: #ebf8fd;
    text-indent: 0;
    z-index: 1;
    color: #373737;
    opacity: 0.6;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    border-color: #ccc;
}


.gmnoprint img {
    max-width: none;
}
.img
{
    max-width: none;
}



.small {
    line-height: 14px;
    font-size: 12px;
    color: #999898;
    margin-bottom: 3px;
}

.login-title {
    text-align: left;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.submit_bt2 {
    background: #D65E17;
    border-radius: 5px;
    padding: 3px 12px;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    border: 0;
    font-size: 19px;
    cursor: pointer;
    margin-right: 5px;
    text-transform: uppercase;
}

.forgot-btn {
    background: #D65E17;
    border-radius: 5px;
    padding: 3px 12px;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    border: 0;
    font-size: 19px;
    cursor: pointer;
    margin-right: 5px;
    text-transform: uppercase;
}

.login_panel .forgot-btn {
    color: #eee;
    cursor: pointer;
    float: left;
    font-size: 15px;
    margin: 5px 0;
    padding: 7px 22px;
    text-transform: uppercase;
}

.row1{margin-bottom:20px;}

.register_panel select {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #aaa;
    font-size: 14px;
    height: 38px;
    line-height: 1.2em;
    margin-bottom: 15px;
    padding: 10px 6px;
    width: 375px;
}

.pop-table select {
    width: 94%;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    height:34px;
    line-height: 20px;
    /*  margin-bottom: 10px;*/
    padding: 7px 6px;
    vertical-align: middle;
}
.ui-highlight a{/*background:#D65E17!important;*/ color:#fff !important; background:url(../images/datebg.png) repeat-x !important;}
.ui-highlight a{color:#fff;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#D65E17!important;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{background:#0e9ddf!important;}



@media only screen and ( min-width: 980px ) and ( max-width: 1002px ) {
    .wrapper{width:96%; margin:0 auto;}
    .box1{ width:32%; margin:0 15px 0 0;}
    .box2{width:32%; margin:0 0 0 0;}
    .regis-box1{width:282px;}
    .testi-box{width:272px;}
    .information{width:183px; margin-right:28px;}
    .block-img { width: 341px;}
    .marketing .span7{width:369px;}


}
@media only screen and ( max-width: 1025px){
	.profile-right{width:78%;}
}

@media only screen and ( min-width: 980px ) and ( max-width: 1002px ) {
    .wrapper{width:96%; margin:0 auto;}
    .box1{ width:32%; margin:0 15px 0 0;}
    .box2{width:32%; margin:0 0 0 0;}
    .regis-box1{width:282px;}
    .testi-box{width:272px;}
    .information{width:183px; margin-right:28px;}
    .block-img { width: 341px;}
    .marketing .span7{width:369px;}


}

@media only screen and ( min-width: 780px ) and ( max-width:970px ) {
    .wrapper{width:95%; margin:0 auto;}
    .logo{width:100%; float:none; text-align:center;}
    .header_rt{float:none; width:100%;}
    .top-menu{float:left; width:60%;}
    .top-menu a{color:#000;}
    .select-city { width: 60%; margin-top:24px; float:left;}
    .select-city select{width:100%;}
    .social_icon{ margin-top:10px;}
    .height20{clear:none; height:0;}
    .box1{float:none; width:100%; margin:0 0 0 0;}
    .box2{float:none; width:100%; margin:0 0 0 0;}
    .content-section{padding:2px 0 0 10px; width:95%;}
    .registration_text{width:100%; font-size:15px;}
    .nuestros h2{font-size:25px;}
    .right-img{width:100%; float:none; margin:0 0 0 0;}
    .right-img img{width:100%;}
    .regis-box1{width:100%; float:left;}
    .border{display:none;}

    .number{position:relative; padding-top:20px; left:0; top:0;}
    .regis-box1 h2{padding-top:0;}
    .blue-box{margin-bottom:15px;}
    .testimonial h2{font-size:32px; line-height:30px; margin-bottom:20px;}
    .testi-box{width:100%; margin:0 0 10px; float:left;}
    .bottom-logo img{ margin:5px 13px;}
    .information{width:100%; float:none;}
    .yellow_box{float:none; width:100%; margin-right:0;}
    .pink_box{float:none; width:100%; margin-right:0;}
    .blue_box{float:none; width:100%; margin-right:0;}
    .footer_lt{float:none; width:100%; text-align:center; margin-bottom:12px;}
    .footer_rt{float:none; width:100%; text-align:center;}
    nav .responsiveMenuSelect{ display:block; width:100%;width:100%;	color:#fff; position:relative; z-index:800;}
    nav{ float:none;}
    nav ul{ display:none !important;}
    nav .responsiveMenuSelect ul{display:block !important;}
    nav li ul.sub-menu{ display:block!important; position:relative !important; width:auto; background:none!important; list-style:none; margin:0; padding:0 0 0 10px; top:0; bottom:10px;}
    nav li ul.sub-menu li{border-bottom:0; width:auto; font-size:13px; padding:0!important;}
    nav li ul.sub-menu li a{font-size:13px !important; padding:5px 0;}
    .block-img { width: 341px;}
    .marketing .span7{width:369px;}
    .video_box{width:47%; margin:0 22px 20px 0;}
	.ui-widget-content{ margin:0 auto;}
	#map_canvas{margin:0 auto!important;}

}

@media only screen and ( max-width: 800px ) {

    .wrapper{width:95%; margin:0 auto;}
    .logo{width:100%; float:none; text-align:center;}
    .header_rt{float:none; width:100%;}
    .top-menu{float:left; width:60%;}
    .top-menu a{color:#000;}
    .select-city { width: 60%; margin-top:24px; float:left;}
    .select-city select{width:100%;}
    .social_icon{ margin-top:10px;}
    .height20{clear:none; height:0;}
    .box1{float:none; width:100%; margin:0 0 0 0;}
    .box2{float:none; width:100%; margin:0 0 0 0;}
    .content-section{padding:2px 0 0 10px; width:95%;}
    .registration_text{width:100%; font-size:15px;}
    .nuestros h2{font-size:25px;}
    .right-img{width:100%; float:none; margin:0 0 0 0;}
    .right-img img{width:100%;}
    .regis-box1{width:100%; float:left;}
    .border{display:none;}

    .number{position:relative; padding-top:20px; left:0; top:0;}
    .regis-box1 h2{padding-top:0;}
    .blue-box{margin-bottom:15px;}
    .testimonial h2{font-size:32px; line-height:30px; margin-bottom:20px;}
    .testi-box{width:100%; margin:0 0 10px; float:left;}
    .bottom-logo img{ margin:5px 13px;}
    .information{width:100%; float:none;}
    .yellow_box{float:none; width:100%; margin-right:0;}
    .pink_box{float:none; width:100%; margin-right:0;}
    .blue_box{float:none; width:100%; margin-right:0;}
    .footer_lt{float:none; width:100%; text-align:center; margin-bottom:12px;}
    .footer_rt{float:none; width:100%; text-align:center;}
    nav .responsiveMenuSelect{ display:block; width:100%;width:100%;	color:#fff; position:relative; z-index:9999;}
    nav{ float:none;}
    nav ul{ display:none !important;}
    nav .responsiveMenuSelect ul{display:block !important;}
    nav li ul.sub-menu{ display:block!important; position:relative !important; width:auto; background:none!important; list-style:none; margin:0; padding:0 0 0 10px; top:0; bottom:10px;}
    nav li ul.sub-menu li{border-bottom:0; width:auto; font-size:13px; padding:0!important;}
    nav li ul.sub-menu li a{font-size:13px !important; padding:5px 0;}
    .img-intro__left, .img-full__left{float:none; max-width:100%;}
    .img_inner{ width:300px;}
    .img_inner{ width:150px;}
    .block-img{float:none; width:100%;}
    .marketing .span7{width:100%; float:none; margin-left:0;}
    .video_box{width:100%; float:none; margin:0 0 20px;}
    .patner{margin-bottom:22px;}
    .patner-title h2{font-size:28px; margin:0;}
    .patner li{width:23%;}
	.ui-widget-content{ margin:0 auto;}
	#map_canvas{margin:0 auto!important;}
		.bgwidth{height:340px;}
	.bx-viewport{height:340px!important;}

	.wrapper2 { margin: 30px auto;  width: 90%; padding:0;}
	.profile-leftN{float:none; width:100%;}
	.profile-right{width:100%; margin-left:0; float:none;}
	.profile-details{text-align:center;}
	.profile-pic{margin:0  auto 2px;}
	.edit{float:none;}
		.login_panel{float:none; width:77%; margin:48px auto;}
	.login_panel input[type="text"], input[type="password"]{width:96%;}
	.register_panel{width:77%; float:none; margin:0 auto;}
	.register_panel input[type="text"], input[type="password"]{width:96%;}
	.register_panel select{width:100%;}


}


@media only screen and ( max-width: 650px ) {
	.ui-widget-content{width:98%!important;}
	#map_canvas{width:100%!important;}
		.bgwidth{height:306px;}
	.bx-viewport{height:306px!important;}

}

@media only screen  and ( max-width: 580px ) {
    .wrapper{width:90%; margin:0 auto;}
    .logo{width:100%; float:none; text-align:center;}
    .header_rt{float:none; width:100%;}
    .top-menu{float:left;}
    .top-menu a{color:#000;}
    .social_icon{text-align:center; float:none;}
    .box1{float:none; width:100%; margin:0 0 0 0;}
    .box2{float:none; width:100%; margin:0 0 0 0;}
    .content-section{padding:2px 0 0 10px; width:95%;}
    .registration_text{width:100%; font-size:15px;}
    .select-city {width:100%;}
    .nuestros h2{font-size:25px;}
    .right-img{width:100%; float:none; margin:0 0 0 0;}
    .right-img img{width:100%;}
    .regis-box1{width:100%; float:left;}
    .border{display:none;}

    .number{position:relative; padding-top:20px; left:0; top:0;}
    .regis-box1 h2{padding-top:0;}
    .blue-box{margin-bottom:15px;}
    .testimonial h2{font-size:32px; line-height:30px; margin-bottom:20px;}
    .testi-box{width:100%; margin:0 0 10px; float:left;}
    .bottom-logo img{ margin:5px 13px;}
    .information{width:100%; float:none;}
    .yellow_box{float:none; width:100%; margin-right:0;}
    .pink_box{float:none; width:100%; margin-right:0;}
    .blue_box{float:none; width:100%; margin-right:0;}
    .footer_lt{float:none; width:100%; text-align:center; margin-bottom:12px;}
    .footer_rt{float:none; width:100%; text-align:center;}
    nav .responsiveMenuSelect{ display:block; width:100%;width:100%;	color:#fff; position:relative; z-index:9999;}
    nav{ float:none;}
    nav ul{ display:none !important;}
    nav .responsiveMenuSelect ul{display:block !important;}
    nav li ul.sub-menu{ display:block!important; position:relative !important; width:auto; background:none!important; list-style:none; margin:0; padding:0 0 0 10px; top:0; bottom:10px;}
    nav li ul.sub-menu li{border-bottom:0; width:auto; font-size:13px; padding:0!important;}
    nav li ul.sub-menu li a{font-size:13px !important; padding:5px 0;}
    .img-intro__left, .img-full__left{float:none; max-width:100%;}
    .thumbnail{float:none;}
    .img_inner{padding:0; width:100%;}
    .img_inner > img {height: 232px; width: 100%;}
    .img_inner2{padding:0; width:100%;}
    .img_inner2 > img {height: 232px; width: 100%;}
    .block-img{float:none; width:100%;}
    .marketing .span7{width:100%; float:none;margin-left:0;}
    .video_box{width:100%; float:none; margin:0 0 20px;}
    .patner{margin-bottom:22px;}
    .patner-title h2{font-size:28px; margin:0;}
    .patner li{width:31%;}
	.bgwidth{height:240px;}
	.bx-viewport{height:240px!important;}
	.tablefrom th{font-size:12px; line-height:14px; padding:3px;}
	.login_panel{float:none; width:77%; margin:48px auto;}
	.login_panel input[type="text"], input[type="password"]{width:96%;}
	.register_panel{width:77%; float:none; margin:0 auto;}
	.register_panel input[type="text"], input[type="password"]{width:96%;}
	.register_panel select{width:100%;}
}



@media only screen and ( max-width: 380px ) {
    /*best view 280*/
    .wrapper{width:90%; margin:0 auto;}
    .logo{width:100%; float:none; text-align:center;}
    .header_rt{float:none; width:100%;}
    .top-menu{float:left;}
    .top-menu a{color:#000;}
    .social_icon{text-align:center; float:none;}
    .box1{float:none; width:100%; margin:0 0 0 0;}
    .box2{float:none; width:100%; margin:0 0 0 0;}
    .content-section{padding:2px 0 0 10px; width:95%;}
    .registration_text{width:100%; font-size:15px;}
    .select-city {width:100%;}
    .nuestros h2{font-size:25px;}
    .right-img{width:100%; float:none; margin:0 0 0 0;}
    .regis-box1{width:100%; float:left;}
    .border{display:none;}

    .number{position:relative; padding-top:20px; left:0; top:0;}
    .regis-box1 h2{padding-top:0;}
    .blue-box{margin-bottom:15px;}
    .testimonial h2{font-size:32px; line-height:30px; margin-bottom:20px;}
    .testi-box{width:100%; margin:0 0 10px; float:left;}
    .bottom-logo img{ margin:5px 13px;}
    .information{width:100%; float:none;}
    .yellow_box{float:none; width:100%; margin-right:0;}
    .pink_box{float:none; width:100%; margin-right:0;}
    .blue_box{float:none; width:100%; margin-right:0;}
    .footer_lt{float:none; width:100%; text-align:center;}
    .footer_rt{float:none; width:100%; text-align:center;}
    nav .responsiveMenuSelect{ display:block; width:100%;width:100%;	color:#fff; position:relative; z-index:9999;}
    nav{ float:none;}
    nav ul{ display:none !important;}
    nav .responsiveMenuSelect ul{display:block !important;}
    nav li ul.sub-menu{ display:block!important; position:relative !important; width:auto; background:none!important; list-style:none; margin:0; padding:0 0 0 10px; top:0; bottom:10px;}
    nav li ul.sub-menu li{border-bottom:0; width:auto; font-size:13px; padding:0!important;}
    nav li ul.sub-menu li a{font-size:13px !important; padding:5px 0;}
    .img-intro__left, .img-full__left{float:none; max-width:100%;}
    .thumbnail{float:none;}
    .img_inner{padding:0;}
    .block-title{font-size:17px;}
    .block-img{float:none; width:100%;}
    .marketing .span7{width:100%; float:none;margin-left:0;}
    .video_box{width:100%; float:none; margin:0 0 20px;}
    .patner{margin-bottom:22px;}
    .patner-title h2{font-size:22px; margin:0;}
    .patner li{width:45%;}
	.bgwidth{height:178px;}
	.bx-viewport{height:178px!important;}

}

.streetlink {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}

#price {
    cursor: default;
}