.pubcontainerlinks{overflow:hidden;width:auto}
.box{white-space:nowrap}
.box div{
    width:auto;
    display:inline-block;
    border:1px solid black;
    padding: 3px;
    font-size: 15pt;


}
.active{
    color: #fff;
    background: #00254e;
}
.classes{overflow: hidden;padding-top: 50px}
.classes{white-space: nowrap}

.block {
    border-right: 3px solid #00254e !important;
    float: left;
    width: 200px;
    color: #34a6fb;
    font-size: 17px;
}

.block .teacher {
    border-bottom: 3px solid #00254e;
    margin-bottom: 20px;
    padding-left: 3px;
}
